{{#each this}}
  <div data-key="{{@key}}" class="col-md-2 col-xs-2 moviedata container-padding sidebar-margin content-container {{Title}}">
    <h3>{{Title}} </h3>
    <h5>{{Year}}</h5>
    <h5>{{Actors}}</h5>
    <h5>User Rating: {{userRating}}</h5>
    <img src={{poster}}>
    <h5 class="truncate">{{Plot}}</h5>

    <input type="button" class="btn-success isviewed" value="Watched" />
    <input type="button" class="btn-failure delete" value="Remove" />
          {{!-- <input type="number" class="rating">                                                     --}}
    {{!-- <select class="ratingNum" placeholder="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select> --}}
    <input class="ratingNum" type="number" max="10" min="1" placeholder="Rating" style="width: 45px">
    <button type="button" class="rating">Rate</button>

  </div>
{{/each}}
